<a id="1"></a>
# <p style="padding:10px;background-color:purple;margin:0;color:teal;font-family:Bank Gothic MD BT;font-size:140%;text-align:center;border-radius: 15px 50px;overflow:hidden;font-weight:500">DATA COLLECTION & CLEANING</p>

In [1]:
# Import required python packages
%matplotlib inline
import pandas as pd
from pandas.api.types import is_numeric_dtype

import warnings
warnings.simplefilter(action='ignore', category=Warning)
print('Setup Complete')

Setup Complete

In [2]:
# Create a messagebox template
def msgbox(text):
    """
    Return a massage box template for displaying text within borders
    """
    # Find the maximum line length in the text
    max_line_length = max(len(line) for line in text.split("\n")) + 8

    # Create the top border of the box
    top_border = "╔" + "═" * (max_line_length + 2) + "╗"

    # Create the bottom border of the box
    bottom_border = "╚" + "═" * (max_line_length + 2) + "╝"

    # Create the lines of text inside the box
    text_lines = text.split("\n")
    formatted_lines = ["║ " + line.center(max_line_length) + " ║" for line in text_lines]

    # Combine all the components to create the boxed text
    boxed_text = "\n".join([top_border] + formatted_lines + [bottom_border])
    
    # show the output
    print(boxed_text)
help(msgbox)

Help on function msgbox in module __main__:

msgbox(text)
    Return a massage box template for displaying text within borders

In [3]:
# Import population data from kaggle
data = pd.read_csv("/kaggle/input/2024-population-projections-by-country/2024Populations.csv")
data

,rank,country,TwoLetterID,unMember,pop1980,pop2000,pop2010,pop2023,pop2024,pop2030,pop2050,landAreaKm,2024YoYChange,2024YoYGrowthRate,2024WorldPercentage,Density_2024
0,1,India,IN,True,696828385,1059633675,1240613620,1428627663,1441719852,1514994080,1670490596,2973190.00,13092189,0.009164,1.776143e-01,484.906734
1,2,China,CN,True,982372466,1264099069,1348191368,1425671352,1425178782,1415605906,1312636325,9424702.90,-492570,-0.000346,1.755766e-01,151.217370
2,3,United States,US,True,223140018,282398554,311182845,339996563,341814420,352162301,375391963,9147420.00,1817857,0.005347,4.211022e-02,37.367304
3,4,Indonesia,ID,True,148177096,214072421,244016173,277534122,279798049,292150100,317225213,1877519.00,2263927,0.008157,3.447004e-02,149.025416
4,5,Pakistan,PK,True,80624057,154369924,194454498,240485658,245209815,274029836,367808468,770880.00,4724157,0.019644,3.020891e-02,318.090773
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,230,Montserrat,MS,False,11452,5138,4938,4386,4372,4301,3781,102.00,-14,-0.003192,5.386136e-07,42.862745
230,231,Falkland Islands,FK,False,2240,3080,3187,3791,3803,3869,3779,12173.00,12,0.003165,4.685150e-07,0.312413
231,232,Niue,NU,False,3637,2074,1812,1935,1935,1948,2096,261.00,0,0.000000,2.383846e-07,7.413793
232,233,Tokelau,TK,False,1647,1666,1367,1893,1915,2046,2430,10.00,22,0.011622,2.359206e-07,191.500000
233,234,Vatican City,VA,True,733,651,596,764,764,764,764,0.44,0,0.000000,9.412187e-08,1736.363636

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 234 entries, 0 to 233
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   rank                 234 non-null    int64
 1   country              234 non-null    object
 2   TwoLetterID          233 non-null    object
 3   unMember             234 non-null    bool
 4   pop1980              234 non-null    int64
 5   pop2000              234 non-null    int64
 6   pop2010              234 non-null    int64
 7   pop2023              234 non-null    int64
 8   pop2024              234 non-null    int64
 9   pop2030              234 non-null    int64
 10  pop2050              234 non-null    int64
 11  landAreaKm           234 non-null    float64
 12  2024YoYChange        234 non-null    int64
 13  2024YoYGrowthRate    234 non-null    float64
 14  2024WorldPercentage  234 non-null    float64
 15  Density_2024         234 non-null    float64
dtypes: bool(1), float64(4), int64(9), object(2)
memory usage: 27.8+ KB

In [5]:
# remove unclear columns
data = data.iloc[:,0:-4]
data

,rank,country,TwoLetterID,unMember,pop1980,pop2000,pop2010,pop2023,pop2024,pop2030,pop2050,landAreaKm
0,1,India,IN,True,696828385,1059633675,1240613620,1428627663,1441719852,1514994080,1670490596,2973190.00
1,2,China,CN,True,982372466,1264099069,1348191368,1425671352,1425178782,1415605906,1312636325,9424702.90
2,3,United States,US,True,223140018,282398554,311182845,339996563,341814420,352162301,375391963,9147420.00
3,4,Indonesia,ID,True,148177096,214072421,244016173,277534122,279798049,292150100,317225213,1877519.00
4,5,Pakistan,PK,True,80624057,154369924,194454498,240485658,245209815,274029836,367808468,770880.00
...,...,...,...,...,...,...,...,...,...,...,...,...
229,230,Montserrat,MS,False,11452,5138,4938,4386,4372,4301,3781,102.00
230,231,Falkland Islands,FK,False,2240,3080,3187,3791,3803,3869,3779,12173.00
231,232,Niue,NU,False,3637,2074,1812,1935,1935,1948,2096,261.00
232,233,Tokelau,TK,False,1647,1666,1367,1893,1915,2046,2430,10.00
233,234,Vatican City,VA,True,733,651,596,764,764,764,764,0.44

In [6]:
# Extracting countries and their associated continent from StatisticsTimes.com
url='https://statisticstimes.com/geography/countries-by-continents.php'
country_x_cont = pd.read_html(url)[-1]
country_x_cont = country_x_cont[['Country or Area','Continent']].set_index('Country or Area')
country_x_cont

                          Continent
Country or Area
Afghanistan                    Asia
Åland Islands                Europe
Albania                      Europe
Algeria                      Africa
American Samoa              Oceania
...                             ...
Wallis and Futuna Islands   Oceania
Western Sahara               Africa
Yemen                          Asia
Zambia                       Africa
Zimbabwe                     Africa

[249 rows x 1 columns]

In [7]:
# Insert new column for 'continent'
data.insert(loc=3, column='continent', value='')
data.columns

Index(['rank', 'country', 'TwoLetterID', 'continent', 'unMember', 'pop1980',
       'pop2000', 'pop2010', 'pop2023', 'pop2024', 'pop2030', 'pop2050',
       'landAreaKm'],
      dtype='object')

In [8]:
# Mapping countries listed in the dataset to their appropriate continent
data['continent']=''
for i in data['country']:
    for x in country_x_cont.index:
        if i.lower() == x.lower():
            data['continent'].loc[data['country'] == i] = country_x_cont['Continent'].loc[country_x_cont.index == x][0]
        elif i.lower() in x.lower():
            data['continent'].loc[data['country'] == i] = country_x_cont['Continent'].loc[country_x_cont.index == x][0]
        elif i.lower()[:10] == x.lower()[:10]:
            data['continent'].loc[data['country'] == i] = country_x_cont['Continent'].loc[country_x_cont.index == x][0]
        elif i.lower()[-5:] == x.lower()[-5:]:
            data['continent'].loc[data['country'] == i] = country_x_cont['Continent'].loc[country_x_cont.index == x][0]
        else:
            continue
    if i == 'Falkland Islands':
        data['continent'].loc[data['country'] == i] = 'South America'
    elif i == 'Vietnam':
        data['continent'].loc[data['country'] == i] = 'Asia'
    elif i == 'Ivory Coast':
        data['continent'].loc[data['country'] == i] = 'Africa'
    elif i == 'Taiwan':
        data['continent'].loc[data['country'] == i] = 'Asia'
    elif i == 'Laos':
        data['continent'].loc[data['country'] == i] = 'Asia'
    elif i=='Republic of the Congo':
        data['continent'].loc[data['country'] == i] = 'Asia'
    elif i == 'Macau':
        data['continent'].loc[data['country'] == i] = 'Asia'
    elif i == 'Curacao':
        data['continent'].loc[data['country'] == i] = 'North America'
    elif i == 'Vatican City':
        data['continent'].loc[data['country'] == i] = 'Europe'
    else:
        continue
        
# Check to ensure that no 'continent' row is blank            
data[data['continent']==''].reset_index(0)

Empty DataFrame
Columns: [index, rank, country, TwoLetterID, continent, unMember, pop1980, pop2000, pop2010, pop2023, pop2024, pop2030, pop2050, landAreaKm]
Index: []

In [9]:
# Double checking countries that were not a direct match to StatisticsTimes.com
data[data['country'].isin(list([
    'United States',
     'Russia',
     'DR Congo',
     'Vietnam',
     'Iran',
     'Tanzania',
     'United Kingdom',
     'South Korea',
     'Ivory Coast',
     'Venezuela',
     'North Korea',
     'Syria',
     'Taiwan',
     'Bolivia',
     'Czech Republic',
     'Laos',
     'Hong Kong',
     'Republic of the Congo',
     'Palestine',
     'Moldova',
     'Reunion',
     'Macau',
     'Cape Verde',
     'Brunei',
     'Curacao',
     'Micronesia',
     'Sint Maarten',
     'Saint Martin',
     'Wallis and Futuna',
     'Saint Barthelemy',
     'Falkland Islands',
     'Vatican City']))]

,rank,country,TwoLetterID,continent,unMember,pop1980,pop2000,pop2010,pop2023,pop2024,pop2030,pop2050,landAreaKm
2,3,United States,US,North America,True,223140018,282398554,311182845,339996563,341814420,352162301,375391963,9147420.00
8,9,Russia,RU,Europe,True,138257420,146844839,143242599,144444359,143957079,141432741,133133035,16376870.00
14,15,DR Congo,CD,Africa,True,26708686,48616317,66391257,102262808,105625114,127582053,217494003,2267050.00
15,16,Vietnam,VN,Asia,True,52968270,79001142,87411012,98858950,99497680,102699905,107012939,313429.00
16,17,Iran,IR,Asia,True,38520664,65544383,75373855,89172767,89809781,92921017,99007204,1622500.00
20,21,Tanzania,TZ,Africa,True,19297659,34463704,45110527,67438106,69419073,81885304,129931520,885800.00
21,22,United Kingdom,GB,Europe,True,56326328,58850043,62760039,67736802,67961439,69175770,71684966,241930.00
28,29,South Korea,KR,Asia,True,38170501,46788591,48813042,51784059,51741963,51290214,45770874,97600.00
50,51,Ivory Coast,CI,Africa,True,8303810,16799670,21120042,28873034,29603302,34211272,51358243,318000.00
51,52,Venezuela,VE,South America,True,15210443,24427729,28715022,28838499,29395334,32027461,35937404,882050.00
55,56,North Korea,KP,Asia,True,17973650,23367059,24686435,26160821,26244582,26569401,25807197,120410.00
56,57,Syria,SY,Asia,True,8898954,16307654,22337563,23227014,24348053,29824735,38306374,183630.00
58,59,Taiwan,TW,Asia,False,18100281,22194731,23083083,23923276,23950214,24027999,22445526,36197.00
78,79,Bolivia,BO,South America,True,5736088,8592656,10223270,12388571,12567336,13625507,16609854,1083300.00
89,90,Czech Republic,CZ,Asia,True,10270060,10234710,10464749,10495295,10503734,10515199,10577126,77198.50
102,103,Laos,LA,Asia,True,3297519,5430853,6323418,7633779,7736681,8321287,9775552,230800.00
103,104,Hong Kong,HK,Asia,False,4978544,6731195,7132438,7491609,7496681,7485887,6975391,1050.00
112,113,Republic of the Congo,CG,Asia,True,1829256,3134030,4437884,6106869,6244547,7114987,10378912,341500.00
120,121,Palestine,PS,Asia,True,1453620,3139954,3992278,5371230,5494963,6256949,8861747,6020.00
134,135,Moldova,MD,Europe,True,4103240,4251573,3678186,3435931,3329865,3174727,2997532,32884.60
160,161,Reunion,RE,Africa,False,551674,785424,890130,981796,989350,1031822,1127252,2512.00
166,167,Macau,MO,Asia,False,245332,431896,557297,704149,713082,763371,881666,32.90
170,171,Cape Verde,CV,Africa,True,317234,458251,521212,598682,604461,638840,727457,4033.00
174,175,Brunei,BN,Asia,True,187921,333926,396053,452524,455858,473312,498373,5270.00
188,189,Curacao,CW,North America,False,156851,141424,159380,192077,192965,197829,204084,444.00
193,194,Micronesia,FM,Oceania,True,76299,111709,107588,115224,116300,122704,135457,700.00
212,213,Sint Maarten,SX,North America,False,12243,30489,33034,44222,44309,44946,38947,34.00
219,220,Saint Martin,MF,North America,False,7776,29610,36458,32077,32337,33508,35453,50.00
226,227,Wallis and Futuna,WF,Oceania,False,11315,14723,13142,11502,11439,11229,11349,274.00
227,228,Saint Barthelemy,BL,North America,False,2983,7082,8988,10994,11019,11113,10210,25.00
230,231,Falkland Islands,FK,South America,False,2240,3080,3187,3791,3803,3869,3779,12173.00
233,234,Vatican City,VA,Europe,True,733,651,596,764,764,764,764,0.44

In [10]:
# adjust the Republic of the Congo's continent
data.at[14, 'country']='Democratic Republic of the Congo'

# check to ensure the name is updated
data[data['country'].isin(list(['Democratic Republic of the Congo']))]

,rank,country,TwoLetterID,continent,unMember,pop1980,pop2000,pop2010,pop2023,pop2024,pop2030,pop2050,landAreaKm
14,15,Democratic Republic of the Congo,CD,Africa,True,26708686,48616317,66391257,102262808,105625114,127582053,217494003,2267050.0

In [11]:
# Extract years from the dataset
years = []
for i in data.columns:
    if 'pop' in i:
        years.extend([i[3:]])
years = pd.DataFrame({'year': years}).astype(int)
years

   year
0  1980
1  2000
2  2010
3  2023
4  2024
5  2030
6  2050

In [12]:
# Extracting the world population data from WorldoMeter.info
url = 'https://www.worldometers.info/world-population/world-population-by-year/'
world_pop = pd.read_html(url)[0][::-1]
world_pop = world_pop[['Year','World Population']]
world_pop

    Year  World Population
96 -5000           5000000
95 -4000           7000000
94 -3000          14000000
93 -2000          27000000
92 -1000          50000000
..   ...               ...
4   2020        7887001292
3   2021        7954448391
2   2022        8021407192
1   2023        8091734930
0   2024        8161972572

[97 rows x 2 columns]

In [13]:
# Extracting the world population associated with the years available in the dataset and 
# updating the datset with new columns for the world population
for i in world_pop['Year']:
    for x in years['year']:
        if x==i:
            data[f'wrld_pop{x}'] = int(world_pop["World Population"][world_pop['Year']==i].iloc[0])
        else:
            continue
            
data.sample(10)

,rank,country,TwoLetterID,continent,unMember,pop1980,pop2000,pop2010,pop2023,pop2024,pop2030,pop2050,landAreaKm,wrld_pop1980,wrld_pop2000,wrld_pop2010,wrld_pop2023,wrld_pop2024
103,104,Hong Kong,HK,Asia,False,4978544,6731195,7132438,7491609,7496681,7485887,6975391,1050.0,4447606236,6171702993,7021732148,8091734930,8161972572
154,155,Timor-Leste,TL,Asia,True,642224,878360,1088486,1360596,1379883,1495081,1806869,14870.0,4447606236,6171702993,7021732148,8091734930,8161972572
161,162,Fiji,FJ,Oceania,True,644582,832509,905169,936375,943072,986172,1094174,18270.0,4447606236,6171702993,7021732148,8091734930,8161972572
54,55,Australia,AU,Oceania,True,14706322,19017963,22019168,26439111,26699482,28202414,32192919,7692020.0,4447606236,6171702993,7021732148,8091734930,8161972572
151,152,Equatorial Guinea,GQ,Oceania,True,282509,684977,1094524,1714671,1754993,1999678,2790533,28050.0,4447606236,6171702993,7021732148,8091734930,8161972572
220,221,British Virgin Islands,VG,Oceania,False,11109,20104,27556,31538,31763,32995,34768,150.0,4447606236,6171702993,7021732148,8091734930,8161972572
142,143,Botswana,BW,Africa,True,938578,1726985,2091664,2675352,2719694,2972271,3679340,566730.0,4447606236,6171702993,7021732148,8091734930,8161972572
47,48,Malaysia,MY,Asia,True,13215707,22945150,28717731,34308525,34671895,36687569,41032433,328550.0,4447606236,6171702993,7021732148,8091734930,8161972572
105,106,Serbia,RS,Europe,True,7777010,7935022,7653748,7149077,7097028,6832604,5777806,87460.0,4447606236,6171702993,7021732148,8091734930,8161972572
81,82,Belgium,BE,Europe,True,9828986,10264343,10877947,11686140,11715774,11873460,12090657,30280.0,4447606236,6171702993,7021732148,8091734930,8161972572

In [14]:
# checking the dataset for null values
data.isna().describe()

,rank,country,TwoLetterID,continent,unMember,pop1980,pop2000,pop2010,pop2023,pop2024,pop2030,pop2050,landAreaKm,wrld_pop1980,wrld_pop2000,wrld_pop2010,wrld_pop2023,wrld_pop2024
count,234,234,234,234,234,234,234,234,234,234,234,234,234,234,234,234,234,234
unique,1,1,2,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
top,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
freq,234,234,233,234,234,234,234,234,234,234,234,234,234,234,234,234,234,234

In [15]:
# locating the row containing the null value
data[data['TwoLetterID'].isnull()==True]

,rank,country,TwoLetterID,continent,unMember,pop1980,pop2000,pop2010,pop2023,pop2024,pop2030,pop2050,landAreaKm,wrld_pop1980,wrld_pop2000,wrld_pop2010,wrld_pop2023,wrld_pop2024
144,145,Namibia,NaN,Africa,True,975994,1819141,2099271,2604172,2645805,2910056,3779918,823290.0,4447606236,6171702993,7021732148,8091734930,8161972572

In [16]:
# checking to see if the prospective value already exists in the table
data[data['TwoLetterID'] == 'NM']

Empty DataFrame
Columns: [rank, country, TwoLetterID, continent, unMember, pop1980, pop2000, pop2010, pop2023, pop2024, pop2030, pop2050, landAreaKm, wrld_pop1980, wrld_pop2000, wrld_pop2010, wrld_pop2023, wrld_pop2024]
Index: []

In [17]:
# updating the TwoLetterID for Namibia to NM
data.at[144, 'TwoLetterID']='NM'
print('Namaibia\'s ID updated')

Namaibia's ID updated

In [18]:
# View the details of the data table
msgbox('unique records in data table'.upper())
data.info()
print('Data Dimensions: ', data.ndim)
for i in data.columns:
    print('--'*38)
    print('Distinct `{}´: {:,},\t Data Type: {}'.format(i, data[i].nunique(), data[i].dtype))
    if is_numeric_dtype(data[i].values):
        display(data[i].describe(include='all'))
    else:
        print(data[i].unique())

╔══════════════════════════════════════╗
║     UNIQUE RECORDS IN DATA TABLE     ║
╚══════════════════════════════════════╝
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 234 entries, 0 to 233
Data columns (total 18 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   rank          234 non-null    int64
 1   country       234 non-null    object
 2   TwoLetterID   234 non-null    object
 3   continent     234 non-null    object
 4   unMember      234 non-null    bool
 5   pop1980       234 non-null    int64
 6   pop2000       234 non-null    int64
 7   pop2010       234 non-null    int64
 8   pop2023       234 non-null    int64
 9   pop2024       234 non-null    int64
 10  pop2030       234 non-null    int64
 11  pop2050       234 non-null    int64
 12  landAreaKm    234 non-null    float64
 13  wrld_pop1980  234 non-null    int64
 14  wrld_pop2000  234 non-null    int64
 15  wrld_pop2010  234 non-null    int64
 16  wrld_pop2023  234 non-null    int64
 17  wrld_pop2024  234 non-null    int64
dtypes: bool(1), float64(1), int64(13), object(3)
memory usage: 31.4+ KB
Data Dimensions:  2
----------------------------------------------------------------------------
Distinct `rank´: 234,	 Data Type: int64

count    234.000000
mean     117.500000
std       67.694165
min        1.000000
25%       59.250000
50%      117.500000
75%      175.750000
max      234.000000
Name: rank, dtype: float64

----------------------------------------------------------------------------
Distinct `country´: 234,	 Data Type: object
['India' 'China' 'United States' 'Indonesia' 'Pakistan' 'Nigeria' 'Brazil'
 'Bangladesh' 'Russia' 'Ethiopia' 'Mexico' 'Japan' 'Philippines' 'Egypt'
 'Democratic Republic of the Congo' 'Vietnam' 'Iran' 'Turkey' 'Germany'
 'Thailand' 'Tanzania' 'United Kingdom' 'France' 'South Africa' 'Italy'
 'Kenya' 'Myanmar' 'Colombia' 'South Korea' 'Uganda' 'Sudan' 'Spain'
 'Iraq' 'Algeria' 'Argentina' 'Afghanistan' 'Poland' 'Canada' 'Morocco'
 'Ukraine' 'Angola' 'Saudi Arabia' 'Uzbekistan' 'Yemen' 'Mozambique'
 'Ghana' 'Peru' 'Malaysia' 'Nepal' 'Madagascar' 'Ivory Coast' 'Venezuela'
 'Cameroon' 'Niger' 'Australia' 'North Korea' 'Syria' 'Mali' 'Taiwan'
 'Burkina Faso' 'Sri Lanka' 'Malawi' 'Zambia' 'Kazakhstan' 'Chile'
 'Romania' 'Chad' 'Somalia' 'Ecuador' 'Guatemala' 'Senegal' 'Netherlands'
 'Cambodia' 'Zimbabwe' 'Guinea' 'Rwanda' 'Benin' 'Burundi' 'Bolivia'
 'Tunisia' 'Haiti' 'Belgium' 'Dominican Republic' 'Jordan' 'South Sudan'
 'Cuba' 'Honduras' 'Sweden' 'Papua New Guinea' 'Czech Republic'
 'Azerbaijan' 'Tajikistan' 'Greece' 'Portugal' 'Hungary'
 'United Arab Emirates' 'Belarus' 'Israel' 'Togo' 'Sierra Leone' 'Austria'
 'Switzerland' 'Laos' 'Hong Kong' 'Nicaragua' 'Serbia' 'Libya' 'Paraguay'
 'Kyrgyzstan' 'Bulgaria' 'Turkmenistan' 'El Salvador'
 'Republic of the Congo' 'Singapore' 'Denmark' 'Central African Republic'
 'Slovakia' 'Finland' 'Liberia' 'Norway' 'Palestine' 'New Zealand'
 'Costa Rica' 'Lebanon' 'Ireland' 'Mauritania' 'Oman' 'Panama' 'Kuwait'
 'Croatia' 'Eritrea' 'Georgia' 'Mongolia' 'Uruguay' 'Moldova'
 'Puerto Rico' 'Bosnia and Herzegovina' 'Gambia' 'Albania' 'Jamaica'
 'Armenia' 'Qatar' 'Botswana' 'Lithuania' 'Namibia' 'Gabon' 'Lesotho'
 'Guinea-Bissau' 'Slovenia' 'North Macedonia' 'Latvia' 'Equatorial Guinea'
 'Trinidad and Tobago' 'Bahrain' 'Timor-Leste' 'Estonia' 'Mauritius'
 'Cyprus' 'Eswatini' 'Djibouti' 'Reunion' 'Fiji' 'Comoros' 'Guyana'
 'Bhutan' 'Solomon Islands' 'Macau' 'Luxembourg' 'Suriname' 'Montenegro'
 'Cape Verde' 'Western Sahara' 'Malta' 'Maldives' 'Brunei' 'Belize'
 'Bahamas' 'Guadeloupe' 'Iceland' 'Martinique' 'Mayotte' 'Vanuatu'
 'French Guiana' 'French Polynesia' 'New Caledonia' 'Barbados'
 'Sao Tome and Principe' 'Samoa' 'Curacao' 'Saint Lucia' 'Guam' 'Kiribati'
 'Grenada' 'Micronesia' 'Jersey' 'Tonga' 'Seychelles' 'Aruba'
 'Saint Vincent and the Grenadines' 'United States Virgin Islands'
 'Antigua and Barbuda' 'Isle of Man' 'Andorra' 'Dominica' 'Cayman Islands'
 'Bermuda' 'Guernsey' 'Greenland' 'Faroe Islands'
 'Northern Mariana Islands' 'Saint Kitts and Nevis'
 'Turks and Caicos Islands' 'Sint Maarten' 'American Samoa'
 'Marshall Islands' 'Liechtenstein' 'Monaco' 'San Marino' 'Gibraltar'
 'Saint Martin' 'British Virgin Islands' 'Palau' 'Cook Islands' 'Anguilla'
 'Nauru' 'Tuvalu' 'Wallis and Futuna' 'Saint Barthelemy'
 'Saint Pierre and Miquelon' 'Montserrat' 'Falkland Islands' 'Niue'
 'Tokelau' 'Vatican City']
----------------------------------------------------------------------------
Distinct `TwoLetterID´: 234,	 Data Type: object
['IN' 'CN' 'US' 'ID' 'PK' 'NG' 'BR' 'BD' 'RU' 'ET' 'MX' 'JP' 'PH' 'EG'
 'CD' 'VN' 'IR' 'TR' 'DE' 'TH' 'TZ' 'GB' 'FR' 'ZA' 'IT' 'KE' 'MM' 'CO'
 'KR' 'UG' 'SD' 'ES' 'IQ' 'DZ' 'AR' 'AF' 'PL' 'CA' 'MA' 'UA' 'AO' 'SA'
 'UZ' 'YE' 'MZ' 'GH' 'PE' 'MY' 'NP' 'MG' 'CI' 'VE' 'CM' 'NE' 'AU' 'KP'
 'SY' 'ML' 'TW' 'BF' 'LK' 'MW' 'ZM' 'KZ' 'CL' 'RO' 'TD' 'SO' 'EC' 'GT'
 'SN' 'NL' 'KH' 'ZW' 'GN' 'RW' 'BJ' 'BI' 'BO' 'TN' 'HT' 'BE' 'DO' 'JO'
 'SS' 'CU' 'HN' 'SE' 'PG' 'CZ' 'AZ' 'TJ' 'GR' 'PT' 'HU' 'AE' 'BY' 'IL'
 'TG' 'SL' 'AT' 'CH' 'LA' 'HK' 'NI' 'RS' 'LY' 'PY' 'KG' 'BG' 'TM' 'SV'
 'CG' 'SG' 'DK' 'CF' 'SK' 'FI' 'LR' 'NO' 'PS' 'NZ' 'CR' 'LB' 'IE' 'MR'
 'OM' 'PA' 'KW' 'HR' 'ER' 'GE' 'MN' 'UY' 'MD' 'PR' 'BA' 'GM' 'AL' 'JM'
 'AM' 'QA' 'BW' 'LT' 'NM' 'GA' 'LS' 'GW' 'SI' 'MK' 'LV' 'GQ' 'TT' 'BH'
 'TL' 'EE' 'MU' 'CY' 'SZ' 'DJ' 'RE' 'FJ' 'KM' 'GY' 'BT' 'SB' 'MO' 'LU'
 'SR' 'ME' 'CV' 'EH' 'MT' 'MV' 'BN' 'BZ' 'BS' 'GP' 'IS' 'MQ' 'YT' 'VU'
 'GF' 'PF' 'NC' 'BB' 'ST' 'WS' 'CW' 'LC' 'GU' 'KI' 'GD' 'FM' 'JE' 'TO'
 'SC' 'AW' 'VC' 'VI' 'AG' 'IM' 'AD' 'DM' 'KY' 'BM' 'GG' 'GL' 'FO' 'MP'
 'KN' 'TC' 'SX' 'AS' 'MH' 'LI' 'MC' 'SM' 'GI' 'MF' 'VG' 'PW' 'CK' 'AI'
 'NR' 'TV' 'WF' 'BL' 'PM' 'MS' 'FK' 'NU' 'TK' 'VA']
----------------------------------------------------------------------------
Distinct `continent´: 6,	 Data Type: object
['Asia' 'North America' 'Africa' 'South America' 'Europe' 'Oceania']
----------------------------------------------------------------------------
Distinct `unMember´: 2,	 Data Type: bool

count      234
unique       2
top       True
freq       195
Name: unMember, dtype: object

----------------------------------------------------------------------------
Distinct `pop1980´: 234,	 Data Type: int64

count    2.340000e+02
mean     1.898462e+07
std      8.178519e+07
min      7.330000e+02
25%      2.296142e+05
50%      3.141146e+06
75%      9.826054e+06
max      9.823725e+08
Name: pop1980, dtype: float64

----------------------------------------------------------------------------
Distinct `pop2000´: 234,	 Data Type: int64

count    2.340000e+02
mean     2.626947e+07
std      1.116982e+08
min      6.510000e+02
25%      3.272420e+05
50%      4.292907e+06
75%      1.576230e+07
max      1.264099e+09
Name: pop2000, dtype: float64

----------------------------------------------------------------------------
Distinct `pop2010´: 234,	 Data Type: int64

count    2.340000e+02
mean     2.984524e+07
std      1.242185e+08
min      5.960000e+02
25%      3.931490e+05
50%      4.942770e+06
75%      1.915957e+07
max      1.348191e+09
Name: pop2010, dtype: float64

----------------------------------------------------------------------------
Distinct `pop2023´: 234,	 Data Type: int64

count    2.340000e+02
mean     3.437443e+07
std      1.373864e+08
min      7.640000e+02
25%      4.225982e+05
50%      5.643895e+06
75%      2.324537e+07
max      1.428628e+09
Name: pop2023, dtype: float64

----------------------------------------------------------------------------
Distinct `pop2024´: 234,	 Data Type: int64

count    2.340000e+02
mean     3.468862e+07
std      1.380750e+08
min      7.640000e+02
25%      4.264565e+05
50%      5.626359e+06
75%      2.392272e+07
max      1.441720e+09
Name: pop2024, dtype: float64

----------------------------------------------------------------------------
Distinct `pop2030´: 234,	 Data Type: int64

count    2.340000e+02
mean     3.651461e+07
std      1.417827e+08
min      7.640000e+02
25%      4.561490e+05
50%      6.178231e+06
75%      2.616311e+07
max      1.514994e+09
Name: pop2030, dtype: float64

----------------------------------------------------------------------------
Distinct `pop2050´: 234,	 Data Type: int64

count    2.340000e+02
mean     4.148628e+07
std      1.481676e+08
min      7.640000e+02
25%      5.466058e+05
50%      6.352397e+06
75%      3.568614e+07
max      1.670491e+09
Name: pop2050, dtype: float64

----------------------------------------------------------------------------
Distinct `landAreaKm´: 230,	 Data Type: float64

count    2.340000e+02
mean     5.571123e+05
std      1.689972e+06
min      4.400000e-01
25%      2.625875e+03
50%      7.568925e+04
75%      4.047876e+05
max      1.637687e+07
Name: landAreaKm, dtype: float64

----------------------------------------------------------------------------
Distinct `wrld_pop1980´: 1,	 Data Type: int64

count    2.340000e+02
mean     4.447606e+09
std      0.000000e+00
min      4.447606e+09
25%      4.447606e+09
50%      4.447606e+09
75%      4.447606e+09
max      4.447606e+09
Name: wrld_pop1980, dtype: float64

----------------------------------------------------------------------------
Distinct `wrld_pop2000´: 1,	 Data Type: int64

count    2.340000e+02
mean     6.171703e+09
std      0.000000e+00
min      6.171703e+09
25%      6.171703e+09
50%      6.171703e+09
75%      6.171703e+09
max      6.171703e+09
Name: wrld_pop2000, dtype: float64

----------------------------------------------------------------------------
Distinct `wrld_pop2010´: 1,	 Data Type: int64

count    2.340000e+02
mean     7.021732e+09
std      0.000000e+00
min      7.021732e+09
25%      7.021732e+09
50%      7.021732e+09
75%      7.021732e+09
max      7.021732e+09
Name: wrld_pop2010, dtype: float64

----------------------------------------------------------------------------
Distinct `wrld_pop2023´: 1,	 Data Type: int64

count    2.340000e+02
mean     8.091735e+09
std      0.000000e+00
min      8.091735e+09
25%      8.091735e+09
50%      8.091735e+09
75%      8.091735e+09
max      8.091735e+09
Name: wrld_pop2023, dtype: float64

----------------------------------------------------------------------------
Distinct `wrld_pop2024´: 1,	 Data Type: int64

count    2.340000e+02
mean     8.161973e+09
std      0.000000e+00
min      8.161973e+09
25%      8.161973e+09
50%      8.161973e+09
75%      8.161973e+09
max      8.161973e+09
Name: wrld_pop2024, dtype: float64

In [19]:
# change the index to the country's global rank
data.set_index('rank', inplace=True)

# view a sample of the cleaned data
data.sample(10)

,country,TwoLetterID,continent,unMember,pop1980,pop2000,pop2010,pop2023,pop2024,pop2030,pop2050,landAreaKm,wrld_pop1980,wrld_pop2000,wrld_pop2010,wrld_pop2023,wrld_pop2024
rank,,,,,,,,,,,,,,,,,
58,Mali,ML,Africa,True,7372581,11239101,15529181,23293698,24015789,28712294,47439802,1220190.0,4447606236,6171702993,7021732148,8091734930,8161972572
111,Turkmenistan,TM,Asia,True,2862903,4569132,5267970,6516100,6598071,7034758,8263833,469930.0,4447606236,6171702993,7021732148,8091734930,8161972572
149,Slovenia,SI,Europe,True,1901570,1984339,2057287,2119675,2118965,2105945,2003258,20136.4,4447606236,6171702993,7021732148,8091734930,8161972572
33,Iraq,IQ,Asia,True,13653369,24628858,31264875,45504560,46523657,52800825,74515140,434128.0,4447606236,6171702993,7021732148,8091734930,8161972572
88,Sweden,SE,Europe,True,8311763,8871043,9381729,10612086,10673669,11007228,11902033,407283.5,4447606236,6171702993,7021732148,8091734930,8161972572
45,Mozambique,MZ,Africa,True,11413587,17768505,23073723,33897354,34858402,40920707,63044497,786380.0,4447606236,6171702993,7021732148,8091734930,8161972572
65,Chile,CL,South America,True,11469828,15351799,17004162,19629590,19658839,19933769,20675378,743532.0,4447606236,6171702993,7021732148,8091734930,8161972572
22,United Kingdom,GB,Europe,True,56326328,58850043,62760039,67736802,67961439,69175770,71684966,241930.0,4447606236,6171702993,7021732148,8091734930,8161972572
132,Georgia,GE,South America,True,5145843,4265172,3836831,3728282,3717425,3657494,3384660,69490.0,4447606236,6171702993,7021732148,8091734930,8161972572
193,Grenada,GD,North America,True,94838,107432,114039,126183,126887,130367,136253,340.0,4447606236,6171702993,7021732148,8091734930,8161972572